html, body{
    background-color: #feb3c7;
}

main {
    justify-items: center;
    align-items: center;
    padding: 45%;

}
.button {
    background-color: #3F2613;
    padding: 50px;
    
    border-radius: 15px;
    border: 5px double #f7f0e3;

}

.button a {
    color:#f7f0e3;
    font-size: 30px;
    text-decoration: none;
    justify-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}